.hero-section {
  text-align: center;
  padding: 6rem 2rem 3rem;
}

.accent {
  color: var(--accent);
}

.hero-section h1 {
  font-size: 2rem;
}

.hero-section h3 {
  font-weight: 500;
  opacity: 0.8;
}

.hero-section p {
  margin-top: 1rem;
  max-width: 35rem;
  margin-inline: auto;
  line-height: 1.6;
}
