.tools {
  max-width: 800px;
  margin: auto;
  color: var(--text);
}
.tool {
  border-bottom: 1px solid #475569;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.tool.open {
  background: rgba(59, 130, 246, 0.1);
}
.tool h3 {
  margin: 0;
}
.tool p {
  margin-top: 0.5rem;
}
