.contact-section {
  text-align: center;
}

.contact-btn {
  display: inline-block;
  margin-top: 1.5rem;
  background: var(--accent);
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.8rem;
  transition: 0.3s;
}

.contact-btn:hover {
  transform: scale(1.05);
  background: #3ea442;
}
